<section class="left-column">
  <div class="clock">
    <div class="day"></div>
    <div class="date-month"></div>
    <div class="date-time"></div>
  </div>
  <div class="spm-logo"></div>
  <div class="offices">
    <h3>Vores kontorer</h3>
    <ul>
      <li>Økonomi, Styring & Administration</li>
      <li>Monopol & Landbaseret Tilsyn</li>
      <li>Væddemål, Onlinekasino & Markedsanalyse</li>
      <li>Spilleautomater & Systemer</li>
      <li>Ansvarligt Spil & Almennyttigt Lotteri</li>
    </ul>
  </div>
  <div class="rofus-logo"></div>
</section>