body {
  background-color: gray;
  position: relative;
  width: 1920px;
  height: 1080px;
}
.left-column {
  position: absolute;
  left: 0;
  background-color: rgba(20,21,62,0.9);
  width: 440px;
  height: 1080px;
  color: white;
}

.inner-screen {
  position: absolute;
  top: 0;
  right: 0;
  width: 1480px;
  height: 930px;
  color: white;

  .hexagon {
    text-align: center;
    position: absolute;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="174" height="200" viewbox="0 0 173.20508075688772 200"><path fill="#14153e" opacity="0.9" d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"></path></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    width: 340px;
    height: 400px;
    padding: 90px 0;
    &.employees {
      top: -15px;
      right: 511px;
    }
    &.dk-games {
      top: -15px;
      right: 170px;
    }
    &.casinos {
      top: 280px;
      right: 0px;
    }
  }
}

.bottom-row {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(20,21,62,0.8);
  color: white;
  width: 1460px;
  height: 150px;
  h2 {
    float: left;
    text-align: right;
    box-sizing: border-box;
    text-transform: uppercase;
    width: 450px;
    height: 150px;
    padding-left: 100px;
    padding-right: 40px;
    padding-top: 45px;
    line-height: 1.25em;
    font-size: 28px;
  }
  .feed-container {
    float: left;
  }
}

.sizer {
  position: absolute;
  bottom: 0;
  left: 440px;
  width: 50px;
  height: 40px;
  background: red;
}
